h1{
    color: rgb(216, 17, 17);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.h21{
    color: rgb(210, 24, 210);
    margin-left: 20px;
}
.p1{
    margin-left: 50px;
}
.h31{
    color: rgb(22, 173, 123);
    margin-left: 20px;
}